.container{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.about{
    background-color: rgb(27, 27, 27);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(40,40,40,0.3);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border-radius: 2rem;
}

.featured-image{
    margin: 1rem;
    width: 60%;
    overflow: hidden;
    height: 80%;
    border-radius: 1rem;
    img{
        object-fit: cover;
        object-position: 50%;
        width: 100%;
        height: 100%;
    }
}

.about-content{
    text-align: right;
    margin: 1rem;
    h2{
        margin: 1rem;
    }
    p{
        margin: 1rem;
    }
}

.dissappear{
    opacity: 0;
    transition: opacity .5s;
}