.container{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.contact{
    background-color: rgb(27, 27, 27);
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px 2px rgba(40,40,40,0.3);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    border-radius: 2rem;
    h2{
        margin-bottom: 1rem;
    }
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input, textarea{
        margin: .5rem;
        width: 20rem;
        padding: 1rem;
        border-radius: 1rem;
        background-color: gray;
        color: rgb(211, 211, 211);
        outline: none;
        border: none;
        resize: none;
        &::placeholder{
            color: rgb(190, 190, 190);
        }
    }
}

.submit-btn{
    width: 10rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    color: rgb(211, 211, 211);
    background-color: rgb(98, 98, 98);
    cursor:default;
    transition: all 1s;
}

.submit-enabled{
    background-color: rgb(58, 58, 255);
    cursor: pointer;
}

.dissappear{
    opacity: 0;
    transition: opacity .5s;
}

.response{
    position: absolute;
    max-height: 5rem;
    width: 20rem;
    background-color: green;
    color: white;
    top: 100px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    display: none;
    opacity: 0;
    animation: appear 4s forwards;
}

.response-error{
    background-color: red;
}

@keyframes appear {
    0%{
        opacity: 0;
    }

    25%{
        opacity: 1;
    }

    75%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
    
}