.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99;
    top: 0;
    width: 90%;
    margin-top: 5px;
    width: 100%;
}

.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1rem; 
    li{
        all: unset;
        cursor: pointer;
        margin: 1rem;
    }
}

.logo{
    margin-left: 1rem;
    cursor: pointer;
}

.list{
    display: flex;
    flex-direction: column;
    position: relative;
    display: inline-block;
    padding: 1rem;
    width: 5rem;
    ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        z-index: 1;
        max-height: 0px;
        overflow: hidden;
        cursor: pointer;
        // transition: all 1s;
        li{
            background-color: rgb(53, 53, 53);
            min-width: calc(5rem - 10px);            
            margin: 0;
            padding: 10px 5px;
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    &:hover{
        background-color: rgb(53, 53, 53);
        ul{
            max-height: 1000px;
        }
    }
}